.itemCart {
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin: 1rem auto;
    color: black;
    background-color: rgb(179, 174, 174);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 12px;
}

.itemCart img {
    width: 200px;
    margin-right: 1rem;
}

