.Navegador {
    display: flex;
    justify-content: space-between;
    background-color: rgb(98, 125, 184);
    margin-top: 3px;
    font-size: 1.5rem;
    list-style: none;
    align-items: center   
};

ul li a {
     text-decoration: none;    
}

.List {
    text-decoration: none;
    color: black;
}