.Navegador {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(189, 191, 194);
    font-size: 1.3rem;
    list-style: none;
    align-items: center   
};

.nav__link {
    text-decoration: none;
    color: rgb(17, 11, 4);
}

ul li a{
     text-decoration: none; 
     color: black;   
}

